// SF Pro Display
@font-face {
    font-family: "SF Pro Display";
    src: url("./SFProDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// SF Pro Text
@font-face {
    font-family: "SF Pro Text";
    src: url("./SFProText-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// PP Editorial New italic
@font-face {
    font-family: 'PP Editorial New';
    src: url('PPEditorialNew-Italic.woff2') format('woff2'),
        url('PPEditorialNew-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// PP Editorial New
@font-face {
    font-family: 'PP Editorial New';
    src: url('PPEditorialNew-Regular.woff2') format('woff2'),
        url('PPEditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$text-color: #1d1d1d;

// 본문 스타일 1
@mixin body-text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

// 워크 타이틀
@mixin work-title {
    font-size: clamp(36px, 5vw, 52px);
    line-height: clamp(36px, 5vw, 50px);
    letter-spacing: -0.01em;
}

// 워크 섭타이틀
@mixin work-sub {
    font-size: clamp(12px, 2vw, 14px);
    line-height: clamp(15px, 3vw, 17px);
    letter-spacing: -0.02em;
    color: #666666;
}

// 카드 타이틀
@mixin card-title {
    font-size: clamp(36px, 5vw, 52px);
    line-height: clamp(36px, 5vw, 50px);
    letter-spacing: -0.02em;
    color: #FFFFFF;
    word-wrap: break-word; // 단어가 길어지면 자동으로 줄바꿈
}


body {
    margin: 0px;
    padding: 0px;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 18px;
    color: $text-color;
    cursor: none;
    background-color: #F9F9F9;
    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;


    ul,
    li {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #1d1d1d;
    }
}

a {
    color: #1d1d1d;
    text-decoration: none;
    ;
}

a:hover,
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}


.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    backdrop-filter: saturate(30);
    border-radius: 50%;
    position: fixed; //
    margin-top: -140px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.link-grow {
    transform: scale(2);
    background: black;
}

.hovered-link {
    color: #FFFFFF;
}


.header {
    position: fixed;
    top: 13px;
    left: 2.1%;
    width: 95.8%;
    z-index: 5;

    ul {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }

    li {
        padding: 3px 22px;
    }

}

.main_page {
    padding-bottom: 118px;

    .main_page_title {
        font-family: 'PP Editorial New', serif;
        padding-top: clamp(180px, 15vw, 270px);
        font-size: clamp(120px, 10vw, 200px);
        text-align: center;
        letter-spacing: 0.03em;
    }

    .main_page_caption {
        font-family: 'PP Editorial New', serif;
        padding-top: 180px;
        font-size: 18px;
        text-align: center;
        font-style: italic;
    }
}

.work_section {
    padding-top: 50px;
    padding-bottom: 190px;
    padding-left: 2.1%;
    padding-right: 2.1%;

    .work_intro {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .work_intro_left {
            display: flex;
            gap: 8px;
            font-size: 18px;
            align-items: center;

            .circle {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #1d1d1d
            }
        }

        .work_intro_right {
            width: calc(63.4vw);
            @include body-text;

            .padding {
                display: inline-block;
                width: 25%;
            }
        }
    }

    .work_list {
        padding-top: 120px;
        width: calc(31vw);
        margin-left: auto;

        li {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: -0.02em;
            padding: 10px 0px;
        }
    }

    .work_item {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)); // 3개 칼럼 고정
        gap: calc(1.4vw);
        grid-row-gap: 130px;
        margin-top: 80px;
        width: 100%;
        box-sizing: border-box;

        img {
            width: 100%;
        }

        .work_01,
        .work_04 {
            grid-column: span 2;
        }

        .work_02,
        .work_03,
        .work_05,
        .work_06 {
            grid-column: span 1;
        }


        .work_des {
            display: flex;
            flex-wrap: wrap;
            gap: calc(1.4vw);
            width: 100%;
            @include work-title;


            ul {
                @include work-sub;
            }
        }
    }


}

.about_section {
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 2.1%;
    padding-right: 2.1%;

    .about_intro {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .about_intro_left {
            display: flex;
            gap: 8px;
            font-size: 18px;
            align-items: center;

            .circle {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #1d1d1d
            }
        }

        .about_intro_right {
            width: calc(63.4vw);
            @include body-text;

            .padding {
                display: inline-block;
                width: 25%;
            }
        }
    }

    .about_cardlist {
        padding-top: 140px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: calc(1.4vw);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* 이미지 비율 맞추기 */
            z-index: -1;
            /* 이미지가 배경으로 깔리도록 */
        }

        .about_row_01,
        .about_row_02,
        .about_row_03,
        .about_row_04 {
            display: flex;
            flex-direction: column;
            gap: calc(1.4vw);
        }

        .about_row_01 {
            padding-top: 140px;
        }

        .about_row_02 {
            padding-top: 190px;
        }

        .about_row_03 {
            padding-top: 40px;
        }

        .about_row_04 {
            padding-top: 360px;
        }

        // AOS 트리거가 되면 패딩을 0으로 변경
        [data-aos="custom-padding"].aos-animate {
            padding-top: 0 !important;
        }

        .edu_card_title,
        .work_card_title {
            height: 180px;
            background-color: #1d1d1d;
            border-radius: 8px;
            padding: 16px;
            @include card-title;
        }

        .edu_card_01,
        .edu_card_02,
        .edu_card_03,
        .edu_card_04,
        .edu_card_05,
        .work_card_01,
        .work_card_02,
        .work_card_03,
        .work_card_04 {
            position: relative; // 이미지가 카드 안에 배경처럼 위치하게 
            height: 360px;
            border: 1px solid rgba(29, 29, 29, 0.5);
            border-radius: 8px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            overflow: hidden; // 카드 밖으로 넘는 이미지가 잘리도록 

            /* 카드에 호버가 적용되었을 때 이미지 보이기 */
            &:hover img {
                opacity: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 102%;
                height: 102%;
                object-fit: cover;
                z-index: -1;
                object-fit: cover; // 이미지 비율 유지하며 크롭 
                transform: translate(-1%, -1%);
                opacity: 0; // 기본 상태에서 이미지 숨기기 
                transition: opacity 0.2s ease; // 호버 시 부드럽게 나타나도록 전환 효과 추가 
            }

            .year {
                flex: 1;
                @include card-title;
                color: #1d1d1d;
                transition: color 0.2s ease;
            }

            /* 텍스트 색상 변경 */
            &:hover .year,
            &:hover .card_des,
            &:hover .card_des .info {
                color: #fff;
            }

            .card_des {
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 16px;
                transition: color 0.2s ease;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .state {
                        font-size: 14px;
                        color: rgba(29, 29, 29, 0.5);
                        transition: color 0.2s ease;
                    }
                }
            }

            &:hover .card_des .state {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .about_skills {
        padding-top: 100px;
        display: flex;
        gap: calc(1.4vw);

        .tools_title,
        .skills_title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(29, 29, 29, 0.5);
            width: calc(47.2vw);
            line-height: 32px;
            letter-spacing: -0.02em;
            padding: 8px 0px;
        }

        .tools {
            padding-top: 40px;
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
        }

        .skills {
            padding-top: 40px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            li {
                padding: 8px 16px;
                border-radius: 999px;
                border: #1d1d1d 1px solid;
                width: fit-content;
            }
        }
    }


}

.footer {
    background-color: #1d1d1d;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 140px;


    .contact_items {
        width: calc(31vw);
        margin: 0 auto;

        .contact_title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            line-height: 32px;
            letter-spacing: -0.02em;
            padding: 8px 0px;

            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
            }
        }


        .contact {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 16px;
            line-height: 18px;
        }

        .contact_icons {
            padding-top: 40px;
        }
    }

}